.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 0.5rem;
}

.card:hover::before{
    opacity: 1;
}

.card::after{
    position: absolute;
    top: 10px;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    color: white;
    font-size: large;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.card-description{
    text-align: center;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    word-break: break-word;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;

    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;

    opacity: 0;
    display: none;
}

.card:hover::after{
    opacity: 1;
}

.card:hover .card-description{
    opacity: 1;
    display: flex;
}

.card {
    position: relative;
    perspective: 2500px;
}

.cover-image{
    border-radius: 0.6rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper{
    border-radius: 0.5rem;
    transition: all 0.5s;
    z-index: -1;
}
.card:hover .wrapper{
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.wrapper::before,
.wrapper::after{
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}
.wrapper::before{
    border-radius: 0.5rem;
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5)68%,
        rgba(12, 13, 19) 97%
    );
}
.wrapper::after{
    border-radius: 0.5rem;
    bottom: 0;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19)97%
    );
}
.card:hover .wrapper::before{
    opacity: 1;
}

.card:hover .wrapper::after{
    opacity: 1;
    height: 100%;
}